In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/001/125/original/aerofit_treadmill.csv?1639992749')

df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47

In [22]:
for i in df.columns:
    print(i, " - ", df[i].dtypes, ", unique value count- ", df[i].nunique(), ", unique values - ", ", ".join(map(str, df[i].unique())) if df[i].dtypes not in (int, float) else 'float/int', ", null values - ", df[i].isnull().sum())

Product  -  object , unique value count-  3 , unique values -  KP281, KP481, KP781 , null values -  0
Age  -  int64 , unique value count-  32 , unique values -  float/int , null values -  0
Gender  -  object , unique value count-  2 , unique values -  Male, Female , null values -  0
Education  -  int64 , unique value count-  8 , unique values -  float/int , null values -  0
MaritalStatus  -  object , unique value count-  2 , unique values -  Single, Partnered , null values -  0
Usage  -  int64 , unique value count-  6 , unique values -  float/int , null values -  0
Fitness  -  int64 , unique value count-  5 , unique values -  float/int , null values -  0
Income  -  int64 , unique value count-  62 , unique values -  float/int , null values -  0
Miles  -  int64 , unique value count-  37 , unique values -  float/int , null values -  0

In [15]:
df[i].dtypes == int

True